@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_components.scss";

@font-face {
  font-family: "Red Hat Text";
  src: url("../../assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 200px;
  height: 250px;
  background-color: grey;
  position: relative;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #fcf8f5;
}
