@use "_components";

@font-face {
  font-family: "Red Hat Text";
  src: url("../../assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 200px;
  height: 250px;
  background-color: grey;
  position: relative;
}

.button {
  background-color: red;
  padding: 15px 30px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

body {
  font-family: "Red Hat Text", sans-serif;
}
